#!/bin/bash

# mysql setup
chown -R mysql:mysql /var/lib/mysql
if [ ! -f /setup.txt ]; then
  #mysql has to be started this way as it doesn't work to call from /etc/init.d
  /usr/bin/mysqld_safe &
  sleep 10s
  MYSQL_PASSWORD={{ db_psw }}
  #This is so the passwords show up in logs.
  echo mysql root password: $MYSQL_PASSWORD
  echo $MYSQL_PASSWORD > /mysql-root-pw.txt
  echo "SETUPOK" > /setup.txt

  mysqladmin -u root password $MYSQL_PASSWORD
  mysql -uroot -p$MYSQL_PASSWORD -e "GRANT ALL PRIVILEGES ON *.* TO 'root'@'%' IDENTIFIED BY '$MYSQL_PASSWORD' WITH GRANT OPTION; FLUSH PRIVILEGES;"
  mysql -uroot -p$MYSQL_PASSWORD -e "CREATE DATABASE {{ db_name }}; GRANT ALL PRIVILEGES ON {{ db_name }}.* TO '{{ db_name }}'@'localhost' IDENTIFIED BY '${{ db_name }}_PASSWORD'; FLUSH PRIVILEGES;"
  killall mysqld
fi

# start all the services
/usr/bin/supervisord -n -c /etc/supervisord.conf